/*
 * -------------------------------------------------
 *  HiCFlow@KAUST: Analyzing Hi-C Dataset
 * -------------------------------------------------
 */

// default settings


params{
// IO params
cpus = 10
help = false
index_dir = ""
input = "fastq/*R{1,2}_001.fastq.gz"
insertSize = 300
jobs = 2
mode="PE"
outdir="results"
ref = "/data/coursework2024/exam/references/hg38.p13.fa"
enzyme = "MboI"
prefix = "hg38"



// Extra arguments supplier
fastp_ext = "--detect_adapter_for_pe --qualified_quality_phred 30 --length_required 75 --correction --adapter_fasta ${projectDir}/references/adapters/TruSeq3-PE.fa"
fastqc_ext = '--quite'


// Skip arguments
skipTrim = false
skipAlignment = false

}

//def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
  overwrite=true
  }

report {
  enabled = true
  file = "$params.outdir/report.html"
  overwrite=true
}

trace {
    enabled = true
    file    = "$params.outdir/execution_trace.txt"
  overwrite=true
}
dag {
    enabled = true
    file    = "$params.outdir/pipeline_dag.html"
   overwrite=true
}
